body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url(image/Slide1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: var(10%);


}

/* .nav {
    align-items: center;
} */

.nav {
    position: relative;
}

.navbar {
    list-style: none;
    text-align: center;
    color: rgb(14, 98, 141);

}

.navbar li {

    font-weight: 700;
    font-size: 12px;
    margin: 10px;
    float: left;
}

.body-content {
    position: relative;
    top: 50px;
}

.name {
    clear: left;
    position: relative;
    font-size: 380%;
    font-weight: 900;
    align-items: center;
    left: 10%;

}

.name h1 {


    margin: 0px;
    padding: 0%;
    font-size: 50px;
    letter-spacing: 20px;

}

.induma {
    color: rgb(14, 98, 141);
}

.discription-home {
    width: 40%;
    position: relative;
    left: 10%;



}

.discription-home p {

    color: rgb(114, 113, 113);
    font-size: 18px;
}

.buttenpanel {
    position: relative;
    top: 5%;
    left: 10%;
}


.buttenpanel input {

    padding: 15px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-size: larger;
    background-color: rgb(0, 0, 0);


}

.buttenpanel input:hover {

    padding: 15px;
    width: 200px;
    border-radius: 20px;
    font-size: larger;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;


}

.buttenpanel input:active {

    padding: 15px;
    width: 200px;
    border-radius: 20px;
    font-size: larger;
    color: white;
    background-color: rgb(52, 51, 51);


}

.about-me {
    position: absolute;
    margin-top: 18%;
    width: 100%;
    align-content: center;
    /* background-color: aquamarine; */

    /* align-items: center; */

}

.about-me h1 {
    padding: 0%;
    text-align: center;
    color: white;

}

.about-me p {
    padding: 0%;
    text-align: center;
    color: white;

}

.about-discription {
    position: relative;
    left: 15%;
    text-align: center;
    /* background-color: azure; */
    align-items: center;
    width: 70%;
}

@media (max-width:600px) {

    body {

        background-color: rgb(255, 255, 255);
        background-image: none;
        /* background-repeat: no-repeat; */
        background-size: 100%;
        opacity: var(10%);


    }

    .body-content {
        position: relative;
        top: 50px;
    }

    .name {
        position: relative;
        font-size: 200%;
        left: 3%;

    }

    .name h1 {
        text-align: center;
        margin: 0px;
        padding: 0%;
        letter-spacing: 20px;

    }

    .induma {
        color: rgb(14, 98, 141);
    }

    .nav {
        align-items: flex-start;
    }

    .nnv {
        position: relative;
        width: 100%;
        background-color: rgb(0, 0, 0);
        align-items: center;
    }

    .navbar {

        list-style: none;
        color: rgb(14, 98, 141);

    }

    .navbar li {
        text-align: center;
        font-weight: 900;
        font-size: 15px;
        margin: 10px;

    }

    .discription-home {
        width: 90%;
        position: relative;
        left: 5%;



    }

    .name {
        clear: both;

        /* align-items: center; */
        font-size: 200%;



    }

    .name h1 {
        text-align: center;
        margin: 0px;
        padding: 0%;
        letter-spacing: 0px;

    }

    .induma {
        text-align: center;
    }

    .name-induma {
        clear: both;
    }

    .discription-home {

        position: relative;
        top: 20px;




    }

    .discription-home p {

        color: rgb(114, 113, 113);
        text-align: center;
        font-size: 18px;
    }


    .buttenpanel {
        position: relative;
        top: 5%;
        left: 0%;
    }


    .buttenpanel input {

        padding: 10px;
        width: 100%;
        border-radius: 20px;
        font-size: larger;
        color: rgb(0, 0, 0);
        background-color: rgba(255, 222, 173, 0);


    }

    .buttenpanel input:hover {

        padding: 10px;
        width: 100%;
        border-radius: 20px;
        font-size: larger;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        cursor: pointer;


    }

    .buttenpanel input:active {

        padding: 15px;
        width: 100%;
        border-radius: 20px;
        font-size: larger;
        color: white;
        background-color: rgb(52, 51, 51);


    }


}

@media (min-width:601px) {
    .body-content {
        position: relative;
        top: 0px;
    }

    .name {
        clear: left;
        position: relative;
        font-size: 280%;
        font-weight: 900;
        align-items: center;
        left: 10%;

    }

    .name h1 {


        margin: 0px;
        padding: 0%;
        font-size: 60px;
        letter-spacing: 10px;

    }

    .discription-home {
        clear: both;
        width: 70%;
        position: relative;
        left: 15%;
        margin-top: 50%;



    }

    .discription-home p {

        color: rgb(114, 113, 113);
        text-align: center;
        font-size: 18px;
    }

    .buttenpanel {
        position: relative;
        top: 5%;
        left: 10%;
    }


    .buttenpanel input {

        padding: 15px;
        width: 200px;
        border-radius: 20px;
        color: rgb(0, 0, 0);
        font-size: larger;
        background-color: rgb(255, 255, 255);


    }

    .buttenpanel input:hover {

        padding: 15px;
        width: 200px;
        border-radius: 20px;
        font-size: larger;
        color: rgb(0, 0, 0);
        background-color: rgb(155, 154, 154);
        cursor: pointer;


    }

    .buttenpanel input:active {

        padding: 15px;
        width: 200px;
        border-radius: 20px;
        font-size: larger;
        color: white;
        background-color: rgb(189, 189, 189);


    }
}

@media (min-width:761px) {
    .name h1 {


        margin: 0px;
        padding: 0%;
        font-size: 80px;
        letter-spacing: 10px;

    }
}

@media (min-width:937px) {
    body {
        clear: both;
    }

    .discription-home {
        clear: both;
        width: 40%;
        position: relative;
        left: 10%;
        margin-top: 0%;
        margin-bottom: 30%;



    }

    .discription-home p {

        color: rgb(48, 35, 35);
        text-align: left;
        font-size: 18px;
    }

    .buttenpanel input {

        padding: 15px;
        width: 50%;
        border-radius: 20px;
        color: rgb(0, 0, 0);
        font-size: larger;
        background-color: rgb(255, 255, 255);


    }

    .buttenpanel input:hover {

        padding: 15px;
        width: 50%;
        border-radius: 20px;
        font-size: larger;
        color: rgb(0, 0, 0);
        background-color: rgb(155, 154, 154);
        cursor: pointer;


    }

    .buttenpanel input:active {

        padding: 15px;
        width: 50%;
        border-radius: 20px;
        font-size: larger;
        color: white;
        background-color: rgb(189, 189, 189);


    }

    @media (min-width:1270px) {
        .discription-home {
            width: 40%;
            position: relative;
            left: 10%;
            margin-bottom: 0%;



        }

        .discription-home p {

            color: rgb(114, 113, 113);
            font-size: 18px;
        }

        .buttenpanel {
            position: relative;
            top: 5%;
            left: 10%;
        }


        .buttenpanel input {

            padding: 15px;
            width: 200px;
            border-radius: 20px;
            color: white;
            font-size: larger;
            background-color: rgb(0, 0, 0);


        }

        .buttenpanel input:hover {

            padding: 15px;
            width: 200px;
            border-radius: 20px;
            font-size: larger;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            cursor: pointer;


        }

        .buttenpanel input:active {

            padding: 15px;
            width: 200px;
            border-radius: 20px;
            font-size: larger;
            color: white;
            background-color: rgb(52, 51, 51);


        }
    }


}
@media (min-width:1450px) {

    .body-content {
        position: relative;
        top: 110px;
    }
    .about-me {
        position: absolute;
        margin-top: 38%;
        width: 100%;
        align-content: center;
        /* background-color: aquamarine; */
    
        /* align-items: center; */
    
    }

    
    

}