body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://scontent.fcmb2-2.fna.fbcdn.net/v/t39.30808-6/352297211_108092915656996_5404003779252774348_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeEq1yCld5ui7qnqV0euzfkOgLZyt1pV4pKAtnK3WlXikkFOKedOWeBQnb3vokTZryTGXowSZH_znFdWo55CbMxw&_nc_ohc=tLQnQ3HW55gQ7kNvgFg1qPM&_nc_ht=scontent.fcmb2-2.fna&oh=00_AYC18VH9XS_EWtAnD8UIijuzlpcsWz6C3UJgJ10_bDEhNA&oe=668351C4);
    background-repeat: no-repeat;
    background-position: right;
    /* background-position: bottom; */
    background-size:40%;
    background-clip: padding-box;

}

.nav {
    align-items: center;
}

.nav {
    position: relative;
    left: 40%;
    align-items: center;
}

.navbar {
    list-style: none;
    text-align: center;
    color: rgb(0, 0, 0);

}

.navbar li {
    font-weight: 900;
    font-size: 18px;
    margin: 10px;
    float: left;
}

.body-content {
    position: relative;
    top: 50px;
}

.name {
    position: relative;
    font-size: 100px;
    left: 10%;

}

.name h1 {
    margin: 0px;
    padding: 0%;
    letter-spacing: 20px;

}

.induma {
    color: rgb(28, 151, 213);
}

.discription-home {
    width: 40%;
    position: relative;
    left: 11%;

}

.discription-home p {

    color: rgb(59, 59, 59);
    font-size: 18px;
}

.buttenpanel {
    position: relative;
    left: 43%;
}


.buttenpanel input {

    padding: 15px;
    width: 200px;
    border-radius: 20px;
    font-size: larger;
    background-color: rgba(255, 222, 173, 0);


}

.buttenpanel input:hover {

    padding: 15px;
    width: 200px;
    border-radius: 20px;
    font-size: larger;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;


}

.buttenpanel input:active {

    padding: 15px;
    width: 200px;
    border-radius: 20px;
    font-size: larger;
    color: white;
    background-color: rgb(40, 40, 40);


}